@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css);

main{ 
    min-width: 300px; 
    max-width: 1000px;
    margin: auto;}

main img{width: 100%;}

main h1{ 
    text-align: center;
    font-size: 40px;
}

main h2{ 
    text-align: center;
    color: rgb(44, 44, 44);
    font-size: 40px;
}

main p{
    margin: 20px 10px 20px 10px;
    font-size: 40px;
    color: rgb(56, 56, 56);
}

main i{
    font-size: 75px;
    padding: 1.2%;
    min-width: 300px;
    max-width: 1000px;
    margin: 10px;
}

nav a{
    color: rgb(37, 36, 36); 
    padding:13px;
    text-decoration: none;
}


header{
    min-height: 44px;
    text-align: center;
    padding-top:3px;
    font-size: 1.8em;
    margin-bottom: 25px;
}
    
header h1{ 
    font-size: 50px;
    color: rgb(58, 58, 58);
    }

main button{ 
    font-size: 17px;
    border-radius: 40px;
    height: 50px;
    width: 130px;
    background-color: rgb(146, 146, 146);
    border: none;  
}

button a { 
    text-decoration: none;
    color: white;
}

div{
    font-size: 23px;
    color: rgb(243, 243, 243);
    padding: 33px;
    background-color: rgb(177, 137, 171);
    height: 20px;
    width: 190px;
    border-radius: 9000px;
    text-align: center;
    margin: auto;

}

main footer{ 
text-align: center;}

footer a { color: rgb(59, 59, 59);}

footer :hover { color: rgb(133, 133, 133);}
div:hover {color: rgb(36, 36, 36); }
nav :hover {color: rgb(133, 133, 133); }

